<div class = "row">
	<div class ="col-lg-2"></div>
	<div class="col-lg-8">
		<h1>About</h1>
	</div>
	<div class ="col-lg-2"></div>
</div>

<div class = "row">
	<div class ="col-lg-1">
	</div>
	<div class ="col-lg-5">
		<%= image_tag 'sh.tr.jpg',size:'500x300' %>
	</div>
	<div class = "col-lg-5">
		<h2><br><br>
			今よりも綺麗を目指して！
		</h2>
	</div>
	<div class ="col-lg-1"></div>
</div>

<div class = "row">
	<div class ="col-lg-1"></div>
	<div class = "col-lg-5">
		<h3><br><br>
			美容室のシャンプーや、トリートメントを使い、<br>
			男女問わず綺麗にカッコよくしたい！<br>
			そんな思いを込めて作成しました。
		</h3>
	</div>
	<div class ="col-lg-5">
		<%= image_tag 'beautiful.jpg',size:'500x300' %>
	</div>
	<div class = "col-lg-5"></div>
	<div class ="col-lg-1"></div>
</div>